image: node:10

cache:
  paths:
  - node_modules/

stages:
  - test
  - build
  - pages

test:
  stage: test
  script:
   - yarn
   - yarn test

build:
  stage: build
  script:
   - yarn
   - yarn build

pages:
  stage: pages
  script:
   - git config user.email "45039513+SocialGroovyBot@users.noreply.github.com"
   - git config user.name "SocialGroovyBot"
   - yarn
   - yarn build:demo
   - yarn deploy
